Package: moe.misty.surge4-advanced
Name: Surge4Advanced
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: misty
Author: misty
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
